# DOMAIN=localhost
# DOMAIN_BE=localhost

GO_PORT=8080

DB_CONNECTION=postgres
DB_HOST=db
TEST_DB=test
MAIN_DB=inventory
DB_PORT=5432
DB_DATABASE=inventory
DB_USERNAME=admin
DB_PASSWORD=admin123

JWT_SECRET=INISECRET#KHUSUSTESTINGAJAHFWMA>FA403t3womwjogh
